.container {
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}