<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script>

  $(document).ready(function(){
  });

</script>

<footer class="footer">
  <div class="container">
    <div class="footer-icons-wrap">
      <div class="social-media-icon" style="background-image: url('assets/img/icons/social-media/link.png');"></div>
      <a href="https://www.facebook.com/Save-It-Aprender-a-ahorrar-311649799750990/?modal=admin_todo_tour">
        <div class="social-media-icon" style="background-image: url('assets/img/icons/social-media/facebook.png');"></div>
      </a>
      <div class="social-media-icon" style="background-image: url('assets/img/icons/social-media/twitter.png');"></div>
    </div>
    <div class="footer-info">
      <p>Copyright © 2019 Saveit. Todos los derechos reservados.</p>
    </div>
    <div class="footer-stores-wrap">
      <div class="store-icon-item" style="background-image: url('assets/img/icons/stores/appstore.png');"></div>
      <div class="store-icon-item" style="background-image: url('assets/img/icons/stores/playstore.png');"></div>
    </div>
  </div>
</footer>