<div class="nav-container">
    <div class="nav-wrap container">
      
      <div class="nav-logo-wrap">
        <div class="nav-logo"></div>
      </div>

      <ul class="nav">
        <li>
          <a href="#inicio">
            Inicio
          </a>
        </li>
        <li>
            <a href="#features">
              Features
            </a>
        </li>
        <li>
            <a href="#equipo">
              Equipo
            </a>
        </li>
        <li>
            <a href="#contacto">
              Contacto
            </a>
        </li>
      </ul>
    </div>
</div>