
.nav-container {
    z-index: 100;
    position: relative;
    position: fixed;
    width: 100%;

    .nav-wrap {
        min-height: 70px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .nav-logo-wrap {
            height: 100%;


            .nav-logo {    
                height: 60px;
                width: 140px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url('../img/brand/saveit-logo.png');
                background-size: contain; 
            }
        }

        .nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style: none;
            position: relative;

            li a {
                color: #fff;
                font-size: 16px;
                padding: 8px 20px;
                margin: auto 15px;
                border-radius: 5%;

                &:hover {
                    background-color: $accent;
                    transition: all 300ms ease-in-out;
                }
            }
        }
    }
}