
<div class="home-contact page-section">
    <div class="container contact-container">
        <div class="section-title">
            <h2>Ponte en contaco con nuestro equipo</h2>
            <span></span>
        </div>
        <div class="contact-card card">
                <div class="card-col">
                    <div class="form-description">
                        <h4>Envíanos un mensaje</h4>
                        <p>Si tienes alguna pregunta o te gustaría saber algo más de nosotros , nuestro equipo con gusto contestará tus preguntas.</p>
                    </div>
                    <div class="contact-form">
                            <div class="form-row">
                                <div class="form-group">
                                    <input type="name" id="name" class="form-field" placeholder="Nombre">
                                    <label for="name" class="form-label">Nombre</label>
                                </div>
                                <div class="form-group">
                                    <input type="email" id="email" class="form-field" placeholder="Email">
                                    <label for="email" class="form-label">Email</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <input type="phone" id="phone" class="form-field" placeholder="Nombre">
                                    <label for="phone" class="form-label">Celular</label>
                                </div>
                                <div class="form-group">
                                    <input type="company" id="company" class="form-field" placeholder="company">
                                    <label for="company" class="form-label">Compañía / Institución</label>
                                </div>
                            </div>
                            
                                
                            <div class="form-group">
                                <textarea id="message" class="form-field" placeholder="Your Message" rows="4"></textarea>
                                <label for="message" class="form-label">Mensaje</label>
                            </div>
                    </div>
                </div>
                <div class="contact-col">
                    <h5>Contáctanos</h5>
                    <div class="contact-items-wrap">
                        <div class="contact-item">
                            <div class="item-icon">
                                <span style="background-image: url('/assets/img/icons/contact/location.png');"></span>
                            </div>
                            <div class="item-info">
                                <h5>Ubicación</h5>
                                <p>Av Lago de Guadalupe KM 3.5, Margarita Maza de Juárez, 52926 Cd López Mateos, Méx.</p>
                            </div>
                        </div>
                        <div class="contact-item">
                            <div class="item-icon">
                                <span style="background-image: url('/assets/img/icons/contact/phone.png');"></span>
                            </div>
                            <div class="item-info">
                                <h5>Teléfono</h5>
                                <p>+52 55 4002 9494</p>
                            </div>
                        </div>
                        <div class="contact-item">
                            <div class="item-icon">
                                <span style="background-image: url('/assets/img/icons/contact/mail.png');"></span>
                            </div>
                            <div class="item-info">
                                <h5>Email</h5>
                                <p>saveit@gmail.com</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>
    </div>
    <div class="map-container">
        <div class="map"></div>
    </div>
</div>
