<div class="page-section home-features">
        <div class="container">
            <div class="section-title">
                <h2>Cómo Funciona</h2>
                <span></span>
            </div>
            <div class="features-wrap">
                <div class="feature-row">
                    <div class="feature-item">
                        <div class="item-icon" style="background-image: url('assets/img/icons/features/divide.png');">
                        </div>
                        <div class="item-info">
                            <h5>Clasifica tus gastos</h5>
                            <p>Organiza tus gastos por segmentos. Así al final de un periodo determinado podrás saber con certeza en qué realizaste un mayor número de gastos.</p>
                        </div>
                    </div>

                    <div class="feature-item">
                        <div class="item-icon" style="background-image: url('assets/img/icons/features/calendar.png');">
                        </div>
                        <div class="item-info">
                            <h5>Programa fechas importantes</h5>
                            <p>Sabemos lo importante que es tener una programación de fechas importantes. Con nuestra aplicación siempre recordarás los días relevantes en tu calendario, como aniversarios, cumpleaños, fechas límite de pago, etcétera.</p>
                        </div>
                    </div>
                </div>

                <div class="feature-row">
                    <div class="feature-item">
                        <div class="item-icon" style="background-image: url('assets/img/icons/features/get-money.png');">
                        </div>
                        <div class="item-info">
                            <h5>Prioriza tus gastos</h5>
                            <p>Es importante organizar los gastos próximos con base en su prioridad, por lo que desarrollamos esta herramienta para que puedas hacerlo de una manera fácil y rápida.</p>
                        </div>
                    </div>

                    <div class="feature-item">
                        <div class="item-icon" style="background-image: url('assets/img/icons/features/piggy-bank.png');">
                        </div>
                        <div class="item-info">
                            <h5>Establece metas de ahorro</h5>
                            <p>Podrás realizar una programación de tus ingresos y gastos, para tener un mayor control sobre estos. Además, podrás establecer objetivos para que así puedas cumplir tus metas financieras.</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
</div>